<div id="about" class="about-us section">
    <div class="container">
        <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="row-about" >
                <!-- محتوى النصوص -->
                <div class="col-lg-6">
                    <div class="about-content-wrapper">
                        <!-- القسم الأول: من نحن -->
                        <div class="about-text-block">
                            <h1 class="text-about-header">
                                <i class="fa fa-arrow-circle-left"></i> من نحن
                            </h1>
                            <p class="text-about-content">
                                نايلات ليست مجرد شركة خدمات، بل هي منصة إبداعية متكاملة تجمع بين الخبرة العريقة والابتكار المعاصر. نحن شركاء النجاح للشركات والمؤسسات والعلامات التجارية التي تطمح للتميز والريادة في عالم دائم التطور.
                            </p>
                        </div>
                        
                        <!-- القسم الثاني: ركائز تميزنا -->
                        <div class="about-text-block">
                            <h1 class="text-about-header">
                                <i class="fa fa-arrow-circle-left"></i> ركائز تميزنا
                            </h1>
                            <p class="text-about-content">
                                تعتمد نايلات على قيادة سعودية خبيرة تمتلك أكثر من 20 عاماً من التميز في مجالات الإعلام والتسويق وقطاع الأعمال، لضمان أعلى مستويات الجودة والتأثير.
                            </p>
                        </div>
                    </div>
                </div>
                
                <!-- صاحب الصورة -->
                <div class="col-lg-6">
                    <div class="about-image-wrapper wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="about-image-container">
                            <img src="{{ 'assets/image-design/2.webp'|theme }}" 
                                 alt="صورة تعبر عن نايلات"
                                 class="about-main-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>