<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row-main-main">
          <div class="col-lg-6">
            <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <h1>نايلات</h1>
              <h2>لخدمة الأعمال المتعددة</h2>
              <p>حيث تتجسد الرؤية و تتحقق الطموحات</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s" style="text-align: center;">
              <img src="{{ 'assets/image-design/1.webp'|theme }}" style="max-width: 100%; height: auto;" alt="لا يوجد صورة">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>