  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="#" class="logo">
              <img src="{{ 'assets/logo/logo-white.png'|theme }}" alt="not found logo" class="logo-image">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" >الرئيسية</a></li>
              <li class="scroll-to-section"><a href="#about">من نحن</a></li>
              <li class="scroll-to-section"><a href="/works">أعمالنا</a></li>
              <li class="scroll-to-section"><a href="{{ 'assets/ourwork/Business_profile.pdf'|theme }}">الملف التعريفي</a></li>
              <li class="scroll-to-section"><div class="main-red-button"><a href="#footer">إتصل بنا</a></div></li> 
          
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- #ed6c03  #161313 ***** Header Area End ***** -->

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  