
<section class="peoplethink-section py-5">
  <div class="container-fluid">
    <div class="container pepolethink">
      <!-- عنوان القسم - محاذاة لليمين -->
      <div class="text-center mb-5 wow fadeInRight" data-wow-delay=".3s">
        <div class="section-header-peoplethink">
          <span class="badge-title-peoplethink">{{ 'شركاؤنا' |_ }}</span>
        </div>
      </div>

      <!-- مربع السلايدر البني -->
      <div class="testimonial-slider-box wow fadeInUp" data-wow-delay=".5s">
        <div class="testimonial-slider-container" id="testimonialSlider">
          <div class="testimonial-track">
            <!-- رأي العميل 1 -->
            <div class="testimonial-item">

                <div class="testimonial-content">
                   
                   
                  <p class="client-review">
                    صحف محلية و دولية
                  </p>

                  <p class="client-review">
                    مواقع اخبارية
                  </p>
                  <p class="client-review">
                    فنوات اعلامية
                  </p>
                  <p class="client-review">
                    التواصل الاجتماعي و المؤثرين
                  </p>
                </div>


                <div>
                 <p class ='client-desction'>
                    نفتخر بشراكاتنا مع وسائل الإعلام والصحف والمواقع الإلكترونية، ومنصات التواصل الاجتماعى، حيث نعمل معا على تنفيذ الحملات الإعلانية باحترافية، وضمان انتشار واسع، ووصول فعال إلى الجمهور المستهدف عبر القنوات التقليدية والرقمي
                 </p>
                </div>

            </div>           
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
