
<section class="clients-section py-5">
  <div class="container-fluid project py-5 mb-5">
    <div class="container">
      <!-- عنوان القسم بتصميم جذاب -->
     

      <!-- سلايدر العملاء -->
      <div class="clients-slider-wrapper wow fadeInUp" data-wow-delay=".5s">
        <div class="clients-slider-container" id="clientsSlider">
          <div class="clients-track">
        {% for item in GeneralComponent.getClints %}

            <div class="client-item">
              <div class="client-logo-card">
                <img src="{{ item.avatar.path }}" alt="عميل 1" class="client-logo">
              </div>
            </div>

        {% endfor %}
                        
          
          </div>
        </div>

        <!-- أزرار التحكم بالسلايدر -->
        <button class="slider-arrow prev" id="sliderPrev">
          <i class="fa fa-chevron-right"></i>
        </button>
        <button class="slider-arrow next" id="sliderNext">
          <i class="fa fa-chevron-left"></i>
        </button>
      </div>

      <!-- نقاط التصفح -->
      <div class="slider-pagination" id="sliderPagination">
        <!-- تضاف النقاط تلقائياً بالجافاسكريبت -->
      </div>
    </div>
  </div>
</section>

