<!-- Certifications Section -->
<section id="certifications" class="certifications section">
  <div class="row mt-5" data-aos="fade-up" data-aos-delay="500">
    <div class="col-12">
      <div class="certification-stats">
        <div class="row text-center justify-content-center" style="display: flex; flex-dirction: row; align-items: center; justify-content: space-evenly;">
          
          <!-- المشاريع -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-4 mb-4">
            <div class="stat-item with-border">
              <h3 class="stat-number">{{ GeneralComponent.getSettingWebsiate.number_projects }} </h3>
              <p class="stat-title">مشاريع</p>
            </div>
          </div>
          
          <!-- معارض ومؤتمرات -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-4 mb-4">
            <div class="stat-item with-border">
              <h3 class="stat-number">{{ GeneralComponent.getSettingWebsiate.number_exhibitions }} </h3>
              <p class="stat-title">معارض و مؤتمرات</p>
            </div>
          </div>
          
          <!-- العملاء -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-4 mb-4">
            <div class="stat-item">
              <h3 class="stat-number">{{ GeneralComponent.getSettingWebsiate.number_clients }} </h3>
              <p class="stat-title">عملاء</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section><!-- /Certifications Section -->




