<br>
<br>
<br>
<br>
<section class="services-section py-5" id="services">
  <div class="container-fluid project py-5 mb-5">
    <div class="container">
      <!-- عنوان القسم بتصميم جذاب -->
      <div class="text-center mx-auto mb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
        <div class="section-title">
          <span class="sub-title">{{ 'خدمات نايلات' |_ }}</span>
          <h2 class="main-title">{{ 'الحلول التي نقدمها' |_ }}</h2>
        </div>
      </div>

      <!-- إضافة بعض البطاقات لعرض الخدمات -->
      <div class="row g-4 mt-4 services-items" data-aos="fade-up" data-aos-delay="500">
        <!-- خدمة 1: التخطيط و الاستشارات الاستراتيجية -->

        {% for item in GeneralComponent.getServices %}
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
          <div class="service-card">
            <div class="service-icon-wrapper">
              <div class="service-icon">
                {# <i class="fa fa-sitemap"></i> #}
                <img src="{{ item.avatar.path }}" alt="لا يوجد صورة">
              </div>
            </div>
            <h3>{{ item.name }}</h3>
          </div>
        </div>
        {% endfor %}

        
      </div>
    </div>
  </div>
</section>
